.anand{
    position:sticky;
    top: 0px;
    height: 100px;
    width: 1510px;
    background-color:#29579bb6;
    display: flex;
    align-items: center;
}

.nav{
    font-size: 20px;
    margin-left: 2.5em;
    margin-top:0.5em ;
    color: whitesmoke;


}
.nav1{
    font-size: 25px;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 0.5em;
}
.nav2{
    background-color:#22b24b;
    height: 60px;
    width: 125px;
    margin-left: 4.5em;
    font-size: 20px;
    margin-top: 0.5em;
    border-radius: 2em;
    color:whitesmoke ;
}
.mas{
        
    background-image: url("https://tse3.mm.bing.net/th?id=OIP.GLMXB1ve3PpCO5ErdfmmXwHaEJ&pid=Api&P=0&h=180");
    background-repeat: no-repeat;
    
    background-size: cover;
   height: 800px;

}
.mas1{
    color: whitesmoke;
    font-size: 90px;
    /* margin-left: 4em; */
    
}
.mas2{
   color:whitesmoke;
   font-size: 20px; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-top: 4em;
   margin-left: 4em;
}
.mas3{
    color:whitesmoke;
   font-size: 20px; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-top: 2em;
   margin-left: 4em;

}
.img1{
    height: 450px;
    width: 500px;
    margin-top: 2em;
    margin-left: 10em;

}
.heading{
    display: flex;
    margin-bottom: 8em;
}
.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-left: 4em;
    color: #22b24b;
}
.man{
    font-size: 50px;
    margin-left: 2em;
    /* margin-top: 2em; */
}
.man1{
    margin-top: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 4em;
    font-size: 22px;
}
.man2{
    font-size: 22px;
    font-family:sans-serif;
    margin-left: 4em;
    color: rgb(66, 125, 193);
}
.man3{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.man4{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.heading1{
    display: flex;
    margin-bottom: 8em;
}
.img3{
    height: 450px;
    width: 500px;
    margin-left: 4em;
    margin-top: 3em;

}
.sai{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-left: 4em;
}
.sai1{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 3em;
}
.sai2{
    font-size: 22px;
    font-family:sans-serif;
    color: rgb(66, 125, 193);
    margin-left: 3em;
}
.sai3{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.sai4{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.heading2{
    display: flex;
    margin-bottom: 8em;
}
.it{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-left: 1.5em;
}
.it1{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 3em;
}
.it2{
    font-size: 22px;
    font-family:sans-serif;
    color: rgb(66, 125, 193);
    margin-left: 3em;
}
.it3{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.it4{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.img4{
    height: 450px;
    width: 500px;
    /* margin-left: 4em;
    margin-top: 3em; */
}
.cse{
    display: flex;
    margin-bottom: 8em;
}
.img5{
    height: 450px;
    width: 500px;
    margin-top: 2em;
}
.cse1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-left: 4em;
}
.cse2{
    font-size: 22px;
    font-family:sans-serif;
    margin-left: 3em;
}
.cse3{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.cse4{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.cse5{
    font-size: 22px;
    font-family:sans-serif;
    color: rgb(66, 125, 193);
    margin-left: 3em;
}
.ece{
    display: flex;
    margin-bottom: 8em;
}
.ece1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-left: 4em;
}
.ece2{
    font-size: 22px;
    font-family:sans-serif;
    margin-left: 3em;
}
.ece3{
    font-size: 22px;
    font-family:sans-serif;
    color: rgb(66, 125, 193);
    margin-left: 3em;
}
.ece4{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.ece5{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.img6{
    height: 450px;
    width: 500px;
    margin-left: 15em;
}
.aiml{
    display: flex;
    margin-bottom: 8em;
}
.img7{
    height: 450px;
    width: 500px;
    margin-left: 2em;
}
.aiml2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-left: 4em;
}
.aiml3{
    font-size: 22px;
    font-family:sans-serif;
    margin-left: 3em;
}
.aiml4{
    font-size: 22px;
    font-family:sans-serif;
    color: rgb(66, 125, 193);
    margin-left: 3em;
}
.aiml5{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.aiml6{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.eee{
    display: flex;
    margin-bottom: 8em;
}
.eee1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-left: 4em;
}
.eee2{
    font-size: 22px;
    font-family:sans-serif;
    margin-left: 3em;
}
.eee3{
    font-size: 22px;
    font-family:sans-serif;
    color: rgb(66, 125, 193);
    margin-left: 3em;
}
.eee4{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.eee5{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.img8{
    height: 450px;
    width: 500px;
    margin-left: 12em;
}
.civil{
    display: flex;
    margin-bottom: 8em;
}
.civil1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-left: 4em;
}
.civil2{
    font-size: 22px;
    font-family:sans-serif;
    margin-left: 3em;
}
.civil3{
    font-size: 22px;
    font-family:sans-serif;
    color: rgb(66, 125, 193);
    margin-left: 3em;
}
.civil4{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.civil5{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.img9{
    height: 450px;
    width: 500px;
    margin-top: 3em;
    margin-left: 3em;
}
.mech{
    display: flex;
    margin-bottom: 8em;
}
.mech1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-left: 4em;
}
.mech2{
    font-size: 22px;
    font-family:sans-serif;
    margin-left: 3em;
}
.mech3{
    font-size: 20px;
    font-family:sans-serif;
    color: rgb(66, 125, 193);
    margin-left: 3em;
}
.mech4{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.mech5{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.img10{
    height: 450px;
    width: 500px;
    margin-left: 12em;
}
.dip{
    display: flex;
    margin-bottom: 6em;
}
.dip1{
    font-size: 20px;
    font-family:sans-serif;
    color: rgb(147, 214, 147);
    margin-left: 3em;
}
.dip2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-left: 3em;
}
.dip3{
    font-size: 22px;
    font-family:sans-serif;
    margin-left: 3em;
}
.dip4{
    font-size: 20px;
    font-family:sans-serif;
    color: rgb(66, 125, 193);
    margin-left: 3em;
}
.dip5{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.dip6{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.img11{
    height: 450px;
    width: 500px;
    margin-left: 12em;
    margin-top: 4em;
}
.phn{
    display: flex;
    margin-bottom: 6em;
}
.phn1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-left: 4em;
}
.phn2{
    font-size: 22px;
    font-family:sans-serif;
    margin-left: 3em;
}
.phn3{
    font-size: 20px;
    font-family:sans-serif;
    color: rgb(66, 125, 193);
    margin-left: 4em;
}
.phn4{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.phn5{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.img12{
    height: 450px;
    width: 500px;
    margin-left: 3em;
}
.mob{
    display: flex;
}
.img13{
    height: 450px;
    width: 500px;
    margin-left: 12em;
}
.mob1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-left: 4em;
}
.mob2{
    font-size: 22px;
    font-family:sans-serif;
    margin-left: 3em;
}
.mob3{
    font-size: 20px;
    font-family:sans-serif;
    color: rgb(66, 125, 193);
    margin-left: 4em;
}
.mob4{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.mob5{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.lap{
    display: flex;
    margin-bottom: 5em;
}
.lap1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-left: 4em;
}
.lap2{
    font-size: 22px;
    font-family:sans-serif;
    margin-left: 3em;
}
.lap3{
    font-size: 20px;
    font-family:sans-serif;
    color: rgb(66, 125, 193);
    margin-left: 4em;
}
.lap4{
    background-color:#22b24b;
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;
    margin-top: 2em;
}
.lap5{
    height: 60px;
    width: 175px;
    font-size: 20px;
    margin-left: 5em;
    border-radius: 2em;
    color: rgb(61, 61, 203);
}
.img14{
    height: 450px;
    width: 500px;
    margin-left: 3em;
}
.chai{
    display: flex;
    gap: 12em;
   background-color: rgb(10, 94, 169);
}
.img15{
    height: 450px;
    width: 500px;
    margin-top: 8em;
}
.chai1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75px;
    margin-left: 1em;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.chai2{
    font-size: 22px;
    font-family:sans-serif;
    margin-left: 3.5em;
    color: white;
}
.chai3{
 background-color:#22b24b ;
    height: 60px;
    width: 275px;
    font-size: 20px;
    margin-top: 4em;
    border-radius: 2em;
    margin-left: 5em;
    color: whitesmoke;

}

.chai4{
    color: rgb(120, 187, 120);
}